{% extends "layout.html" %}
{% block title %}
Choose Level
{% endblock %}


{% block content %}
<div class="jumbotron center-x" id="main">
<h1>Welcome to CySpell!</h1>
<h3> Choose your level:</h3>
<a href="/game/1"><button type="button" class="btn btn-success" >Grade 1</button></a>
<a href="/game/2"><button type="button" class="btn btn-success">Grade 2</button></a>
<a href="/game/3"><button type="button" class="btn btn-success">Grade 3</button></a>
</p>
<a href="/game/4"><button type="button" class="btn btn-success">Grade 4</button></a>
<a href="/game/5"><button type="button" class="btn btn-success">Grade 5</button></a>
</div>
{% endblock %}
